body {
    background-color: #EAEAEA;
    ;
}
ul {
    font-family:'Gilroy','Poppins',sans-serif;
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF9900;
    border-radius: 1em;
  }
  
li {
    float: left;
    border-right:1px;
    border-left:1px;
    border-right-style: ridge ;
    border-left-style: ridge;
    border-color: #ffaa2b;
  }
li:first-child{
    border-left:none;
}

li:last-child{
    border-right:none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.2em;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #ca7900;
  }

#pheading {
    color: #FF9900;
    font-family: 'Gilroy','Poppins',sans-serif;
    text-align: center;
    font-size: 12em;
    display:flex;
    align-items: center;
    justify-content: center;

}

#flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

#transform{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 50px ;
}

#loader {
    /* animation: loader 5s linear infinite; */
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }
  @keyframes loader {
    0% { left: -100px }
    100% { left: 110%; }
  }
  #box {
    width: 50px;
    height: 50px;
    background: #ffae34;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
  @keyframes animate {
    17% { border-bottom-right-radius: 3px; }
    25% { transform: translateY(9px) rotate(22.5deg); }
    50% {
      transform: translateY(18px) scale(1,.9) rotate(45deg) ;
      border-bottom-right-radius: 40px;
    }
    75% { transform: translateY(9px) rotate(67.5deg); }
    100% { transform: translateY(0) rotate(90deg); }
  } 
  #shadow { 
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
  }
  @keyframes shadow {
    50% {
      transform: scale(1.2,1);
    }
  }
  
#tagline{
    color:#ff9900;
    font-family: 'Gilroy','Poppins',sans-serif;
    font-weight: 400;
    text-align: center;
}
#smarter{
    color: #FF9900;
}

footer{
    font-family: 'Gilroy','Poppins',sans-serif;
    font-size: small;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.4em;
    width: 100%;
    color:#FFFFFF; 
    background: #383838;
    font-size:0.8em;
    text-align: center;
    line-height:30px;
}