.team {
  color: #eaeaea;
  display: flex;
  padding-top: 20%;
}
.names {
  border: none;
  margin: auto;
  list-style-type: none;
  text-align: center;
}
#name {
  font-size: 2em;
  margin-bottom: -10px;
}
#role {
  font-weight: 100;
  text-align: center;
}
