body {
  background-color: #323232;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", "Gilroy", "Montserrat", "Raleway", "Poppins",
    sans-serif;
}

.navbar {
  font-size: large;
  list-style-type: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eaeaea;
  border-radius: 1em;
  height: 100%;
}

.navlist {
  float: left;
}
.navlist:last-child {
  float: right;
}

.navlist a {
  display: block;
  color: #323232;
  text-align: center;
  padding: 1em 1.2em;
  text-decoration: none;
}

.navlist a:hover {
  background-color: #1d1d1d;
  color: #eaeaea;
}

.team {
  color: #eaeaea;
  display: flex;
  padding-top: 20%;
}
.names {
  border: none;
  margin: auto;
  list-style-type: none;
  text-align: center;
}
#name {
  font-size: 2em;
  margin-bottom: -10px;
}
#role {
  font-weight: 100;
  text-align: center;
}

footer {
  font-family: "Josefin Sans", "Gilroy", "Montserrat", "Raleway", "Poppins",
    sans-serif;
  font-size: small;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.4em;
  width: 100%;
  color: #ffffff;
  background: #383838;
  font-size: 0.8em;
  text-align: center;
  line-height: 30px;
}

footer a {
  color: #eaeaea;
}
footer a:hover {
  color: #a3a3a3;
}
footer a:active {
  color: #fff;
}
